// colors
$primary: #ff2d2d;
$black: #000000;
$accent-black: #333333;
$white: #ffffff;
$accent-white: #e0e0e0;
$gray: #e5e5e5;

// fonts
$default-font: "Open Sans", sans-serif;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
