{
  "env": {
    "jquery": true,
    "browser": true
  },
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 5
  },
  "plugins": ["jquery"],
  "rules": {
    "no-console": "off",
    "func-names": "off",
    "quotes": ["error", "double"],
    "linebreak-style": "off",
    "prefer-arrow-callback": "off",
    "comma-dangle": "off",
    "space-in-parens": ["error", "never"],
    "lines-around-comment": "off",
    "array-bracket-spacing": ["error", "always"],
    "no-var": "off",
    "vars-on-top": "off",
    "no-inner-declarations": "off",
    "space-before-function-paren": "off"
  }
}
