// Styles for about us section

.about {
  position: relative;
  padding: 50px 0;
  overflow: hidden;
  min-height: auto;
  background-color: $secondary;

  &::before {
    content: "";
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 60vw;
    background-color: $secondary;

    @include rwd(800) {
      display: block;
    }
  }

  &-tabs {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;

    &__wrap {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-left: 0;

      @include rwd(800) {
        flex-direction: row;
      }

      @include rwd(1400) {
        width: 12%;
        padding-left: 5.33%;
        flex-direction: column;
      }
    }

    &__scene {
      position: relative;
      display: none;
      width: 100%;

      .about-tabs__item-content {
        position: initial;
        top: 50%;
        transform: translateY(0);
        width: 100%;
        margin-top: 40px;

        @include rwd(1400) {
          position: absolute;
          transform: translateY(-50%);
          width: calc(100% - 80px);
          margin-top: 0;
        }
      }

      @include rwd(800) {
        display: block;
      }

      @include rwd(1400) {
        width: 80%;
      }
    }

    &__item {

      &-control {
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 30px 15px;
        margin: 0;
        width: auto;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          height: 1px;
          width: 100%;
          width: calc(100% - 30px);
          background-color: $primary;
          transition: 300ms linear width;

          @include rwd(800) {
            width: 100%;
            transform: translateX(0);
            left: 0;
          }

          @include rwd(800) {
            width: 0;
          }
        }

        &::before {
          display: none;
          content: "";
          position: absolute;
          left: -40px;
          background:
 transparent url("../img/atoms-icon-2.svg") center center
            no-repeat;
          background-size: contain;
          transform: translateY(0);
          height: 0;
          width: 0;
          transition: 400ms linear all;
          opacity: 0;

          @include rwd(1400) {
            display: block;
          }
        }

        &:hover {

          &::after {
            width: calc(100% - 30px);
          }
        }

        @include rwd(800) {
          padding: 15px 10px;
        }

        @include rwd(1400) {
          width: 100%;
          padding: 10px 0;
          margin: 15px 0;
        }
      }

      &-title {
        font-weight: 200;
        color: $white;
        font-size: 14px;
        transition: 300ms linear font-weight;
        text-align: left;
        margin: 0;

        @include lg {
          font-size: 16px;
        }
      }

      &-arrow {
        display: block;
        object-fit: contain;
        transition: transform 300ms linear;
        transform: rotate(0);

        @include rwd(800) {
          display: none;
        }
      }

      &-content {
        display: flex;
        flex: 1 auto;
        flex-direction: column;
        top: 0;
        width: 100%;
        background-color: $white;
        overflow: hidden;
        border-radius: 0;
        box-shadow: none;

        @include rwd(800) {
          border-radius: 9px;
          box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.16);
        }

        @include lg {
          flex-direction: row;
        }
      }

      &-description {
        position: relative;
        z-index: 1;
        width: 100%;
        padding: 15px;
        padding-bottom: 68px;
        height: auto;
        order: 2;
        overflow-x: hidden;
        overflow-y: inherit;
        box-sizing: border-box;

        p {
          font-weight: 200;
          font-size: 13px;
          color: $gray-text;
          box-sizing: border-box;
          text-align: justify;
        }

        ul,
        ol {
          padding-left: 30px;

          li {
            font-weight: 200;
            font-size: 13px;
            color: $gray-text;
            box-sizing: border-box;
          }
        }

        .tabs {

          &-dots {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 10px 0;

            &__item {
              cursor: pointer;
              background-color: transparent;
              width: 10px;
              height: 10px;
              margin: 0 5px;
              border-radius: 50%;
              border: 1px solid $secondary-alt;
              transition: background-color 300ms linear;

              &-active {
                background-color: $secondary-alt;
              }
            }
          }
        }

        &::after {
          content: "";
          position: absolute;
          z-index: 3;
          left: 15px;
          bottom: 20px;
          background:
 transparent url("../img/wave-icon.svg") left center
            no-repeat;
          background-size: contain;
          min-height: 65px;
          width: 100%;

          @include sm {
            left: 50px;
          }
        }

        @include sm {
          padding: 30px 50px;
          padding-bottom: 68px;
        }

        @include lg {
          min-height: 420px;
          width: 60%;
          order: 1;
          padding-bottom: 90px;
        }
      }

      &-preview {
        width: 100%;
        height: 300px;
        object-fit: cover;
        order: 1;

        @include lg {
          order: 2;
          width: 40%;
          height: auto;
        }
      }

      .active {

        &-control {

          .about-tabs__item {

            &-title {
              font-weight: 500;
            }

            &-arrow {
              transform: rotate(180deg);
            }
          }

          &::after {
            width: 0;

            @include rwd(800) {
              width: 100%;
              width: calc(100% - 30px);
            }
          }

          &::before {
            opacity: 1;
            transform: translateY(-50%);
            left: -70px;
            height: 40px;
            width: 40px;
            animation: rotate 10s linear infinite;
          }
        }
      }
    }

    @include rwd(800) {
      padding: 0 15px;
    }
  }

  @include rwd(800) {
    min-height: 480px;
  }

  @include rwd(1400) {
    background-color: $white;
    padding-top: 150px;
    padding-bottom: 50px;
  }
}
