// Styles for foooter section

.footer {
  padding: 50px 0;
  background-color: $secondary;

  .container {
    justify-content: space-around;
    align-items: center;

    @include lg {
      justify-content: space-between;
    }
  }

  &-logo {
    margin-right: 15px;
    max-width: 150px;

    @include sm {
      max-width: 200px;
    }

    @include lg {
      margin-left: 8.33%;
    }
  }

  &-copyright {
    margin-left: 15px;
    max-width: 600px;
    font-size: 12px;
    font-weight: 200;
    color: $white;

    @include sm {
      text-align: right;
      font-size: 16px;
    }

    @include lg {
      margin-right: 8.33%;
    }
  }
}
