// Style for header section

.header {
  position: relative;
  background: $secondary url("../img/header-bg.jpg") center center no-repeat;
  background-size: cover;
  padding: 100px 0;
  overflow: hidden;

  .container {
    position: relative;
    flex-direction: column;
  }

  &-atoms__img {
    position: absolute;
    width: 100%;
    top: -10%;
    left: 0;
    animation: rotate 150s linear infinite;

    @include md {
      width: 100%;
      top: 10%;
      left: 0;
    }

    @include rwd(1100) {
      top: -60%;
      left: -23%;
    }

    @include rwd(1200) {
      top: -75%;
    }

    @include rwd(1400) {
      top: -90%;
    }

    @include rwd(1500) {
      top: -100%;
    }

    @include rwd(1700) {
      top: -110%;
    }

    @include rwd(1800) {
      top: -120%;
    }
  }

  &-intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;

    &__title {
      font-size: 40px;
      line-height: 45px;
      font-weight: 600;
      color: $white;
      margin-bottom: 0;
    }

    &__subtitle {
      font-weight: 200;
      font-size: 20px;
      line-height: 26px;
      color: $white;
      margin-top: 0;
      margin-bottom: 40px;

      @include md {
        margin-bottom: 50px;
      }
    }

    .btn {
      box-sizing: border-box;
    }

    @include rwd(1100) {
      align-self: flex-end;
      width: 48%;
    }
  }

  &-scroll__link {
    position: absolute;
    bottom: -50px;
    right: 40px;
    display: none;
    align-items: center;
    font-weight: 200;
    font-size: 11px;
    text-transform: uppercase;
    color: $white;
    text-decoration: none;
    transform: rotate(-90deg);
    transition: 200ms linear bottom;

    &-icon {
      transform: rotate(90deg);
      margin-right: 20px;
      width: 11px;
    }

    &:hover {
      bottom: -55px;
    }

    @include rwd(840) {
      display: flex;
    }
  }

  @include md {
    padding: 175px 0;
  }
}

.navbar {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  padding: 15px 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);

  .container {
    justify-content: space-between;
    align-items: center;
  }

  &-lang__link {
    transform: translateY(0);
    text-transform: uppercase;
    text-decoration: none;
    color: $secondary;
    font-weight: 600;
    font-size: 12px;
    border: 1px solid $secondary;
    padding: 2px 12px;
    border-radius: 20px;
    transition: all 300ms linear;

    &:hover {
      background-color: $secondary;
      color: $white;
    }

    @include rwd(1100) {
      margin-left: 20px;
    }
  }

  &-wrap {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 50%;
    right: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    padding-left: 0;
    padding-bottom: 25px;
    padding-top: 80px;
    background-color: $white;
    margin-top: 0;
    overflow-y: auto;
    transform: translateX(200%);
    transition: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1) transform;
    box-sizing: border-box;

    &__active {
      transform: translateX(-50%);
    }

    @include rwd(1100) {
      position: relative;
      left: 0;
      flex-wrap: wrap;
      flex-direction: row;
      background: transparent;
      height: auto;
      width: 79%;
      margin-top: initial;
      margin-bottom: 0;
      justify-content: flex-end;
      padding: 0;
      padding-right: 65px;
      transform: translateX(0);
      overflow-y: initial;
    }
  }

  &-item {
    list-style: none;

    &__link {
      display: block;
      position: relative;
      font-weight: 600;
      font-size: 15px;
      padding: 12px 0;
      text-decoration: none;
      color: $secondary;
      text-transform: uppercase;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        width: 0;
        background-color: $secondary;
        transition: 200ms linear width;
      }

      &:hover {

        &::after {
          width: 80%;
          width: calc(100% - 50px);
        }
      }

      @include rwd(1100) {
        display: initial;
        font-size: 12px;
        padding: 15px;
      }
    }
  }

  &-logo {
    max-width: 100%;
    object-fit: contain;
    object-position: left;

    &__wrap {
      width: 40%;

      @include sm {
        width: 21%;
      }
    }

    &__link {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    @include rwd(1100) {
      max-width: 50%;
    }
  }

  &-btn {
    display: block;
    height: 33px;

    span {
      display: block;
      width: 33px;
      height: 3px;
      position: relative;
      background: $secondary;
      border-radius: 3px;
      transition: all 300ms linear;

      &:nth-last-child( 2 ) {
        transform: translateY(12px);
      }

      &:nth-last-child( 3 ) {
        transform: translateY(24px);
      }
    }

    @include rwd(1100) {
      display: none;
    }

    &__active {
      position: fixed;
      right: 15px;
      z-index: 9999999;

      & > span {
        opacity: 0;
        transform: rotate(45deg) translate(-22px, -19px);

        &:nth-last-child( 1 ) {
          opacity: 1;
          transform: rotate(45deg) translate(0, 13px);
        }

        &:nth-last-child( 3 ) {
          opacity: 1;
          transform: rotate(-45deg) translate(-17px, 4px);
        }
      }
    }
  }
}

// Rotation animation
@keyframes rotate {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
