// Styles for responses section

.responses {
  padding: 50px 0;

  .container {
    flex-direction: column;
    padding: 0;

    @include sm {
      padding: 0 15px;
    }
  }

  &-header {
    margin-left: 15px;

    @include rwd(900) {
      margin-left: 125px;
    }
  }

  &-wrap {
    position: relative;
    padding: 0;

    .slick-track {
      padding: 20px 0;
    }

    .slick-disabled {
      opacity: 0.39;
    }

    @include rwd(900) {
      padding: 0 100px;
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin: 0 15px;
    outline: none;

    &__preview {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px;

      &-wrap {
        position: relative;
        width: 100%;
        height: 250px;
        margin-bottom: 20px;
      }
    }

    &__desc {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-title {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        margin: 0;
      }

      &-subtitle {
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        color: rgba($black, 0.5);
        margin: 0;
      }
    }

    @include sm {
      margin: 0 25px;
    }
  }

  &-btn {

    &__prev,
    &__next {
      cursor: pointer;
      border: none;
      background-color: transparent;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: 300ms linear opacity;
      opacity: 1;
      outline: none;
    }

    &__prev {
      left: 0;
      transform: translateY(-50%) rotate(180deg);
    }

    &__next {
      right: 0;
    }
  }

  &-dots {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 15px;
    margin: 5px 0;

    li {
      position: relative;
      margin: 6px;
      height: 18px;
      width: 18px;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        height: 70%;
        width: 70%;
        background-color: $white;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid $secondary;
        transition: 300ms linear all;
      }

      button {
        display: none;
      }
    }

    .slick-active {

      &::after {
        background-color: $secondary;
      }
    }
  }

  @include lg {
    padding: 50px 0;
  }
}

// Rotation animation
@keyframes RotateUserAtoms {

  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
