@font-face 
	font-family: 'SegoeRegular'

	src: url('../fonts/SegoeUI-Regular/SegoeUI.eot')

	src: url('../fonts/SegoeUI-Regular/SegoeUI.eot') format('eot'), url('../fonts/SegoeUI-Regular/SegoeUI.woff') format('woff'), url('../fonts/SegoeUI-Regular/SegoeUI.ttf') format('truetype')

	font-weight: normal
	font-style: normal

@font-face 
	font-family: 'SegoeBold'

	src: url('../fonts/SegoeUI-Bold/SegoeUI-SemiBold.eot')

	src: url('../fonts/SegoeUI-Bold/SegoeUI-SemiBold.eot') format('eot'), url('../fonts/SegoeUI-Bold/SegoeUI-SemiBold.woff') format('woff'), url('../fonts/SegoeUI-Bold/SegoeUI-SemiBold.ttf') format('truetype')

	font-weight: bold
	font-style: normal

@font-face 
	font-family: 'SegoeItalic'

	src: url('../fonts/SegoeUI-Italic/SegoeUI-Italic.eot')

	src: url('../fonts/SegoeUI-Italic/SegoeUI-Italic.eot') format('eot'), url('../fonts/SegoeUI-Italic/SegoeUI-Italic.woff') format('woff'), url('../fonts/SegoeUI-Italic/SegoeUI-Italic.ttf') format('truetype')

	font-weight: normal
	font-style: italic

@font-face 
	font-family: 'SofiaProLight'

	src: url('../fonts/SofiaPro-Light/sofiapro-light.eot')

	src: url('../fonts/SofiaPro-Light/sofiapro-light.eot') format('eot'), url('../fonts/SofiaPro-Light/sofiapro-light.woff') format('woff'), url('../fonts/SofiaPro-Light/sofiapro-light.ttf') format('truetype')

	font-weight: light
	font-style: normal

@font-face 
	font-family: 'StRydeRegular'

	src: url('../fonts/StRyde-Regular/StRyde-Regular.eot')

	src: url('../fonts/StRyde-Regular/StRyde-Regular.eot') format('eot'), url('../fonts/StRyde-Regular/StRyde-Regular.woff') format('woff'), url('../fonts/StRyde-Regular/StRyde-Regular.ttf') format('truetype')

	font-weight: normal
	font-style: normal