@font-face 
	font-family: 'ProximaNovaRegular'

	src: url('../fonts/ProximaNovaRegular/ProximaNova-Regular.eot')

	src: url('../fonts/ProximaNovaRegular/ProximaNova-Regular.eot') format('eot'), url('../fonts/ProximaNovaRegular/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNovaRegular/ProximaNova-Regular.ttf') format('truetype')

	font-weight: normal
	font-style: normal

@font-face 
	font-family: 'ProximaNovaBold'

	src: url('../fonts/ProximaNovaBold/ProximaNova-Bold.eot')

	src: url('../fonts/ProximaNovaBold/ProximaNova-Bold.eot') format('eot'), url('../fonts/ProximaNovaBold/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNovaBold/ProximaNova-Bold.ttf') format('truetype')

	font-weight: bold
	font-style: normal