@import "vars";
@import "fonts";
@import "libs";
@import "mixins/media";

::placeholder {
  color: #666;
}

body {
  margin: 0;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 17px;
  font-family: $default-font;
  overflow-x: hidden;
  color: $text;

  input,
  textarea {
    border: #666 1px solid;
    outline: none;
  }
}

b,
strong {
  font-weight: 700;
}

// Common

.container {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  background-color: transparent;
  width: fit-content;
  max-width: 250px;
  padding: 12px 50px;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;

  &-primary {
    background-color: #14d5d9;
    color: $white;
    box-shadow: 0 0 10px 0 rgba(28, 177, 196, 0.85);
    border-radius: 50px;
    transition: 300ms linear all;

    &:hover {
      box-shadow: 0 0 17px 0 rgba(28, 177, 196, 0.85);
      background-color: darken(#14d5d9, 5%);
    }
  }
}

.title {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 40px;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 140px;
    height: 40px;
    background: transparent center center no-repeat;
    background-size: contain;
  }

  &-primary {
    color: $text-secondary;

    &::after {
      background-image: url("../img/primary-header_waves.svg");
    }
  }

  &-secondary {
    color: $white;

    &::after {
      background-image: url("../img/secondary-header_waves.svg");
    }
  }

  @include sm {
    font-size: 30px;
    line-height: 38px;

    &::after {
      width: 210px;
    }
  }
}

// Sections
@import "sections/header";
@import "sections/about";
@import "sections/product";
@import "sections/services";
@import "sections/responses";
@import "sections/projects";
@import "sections/partners";
@import "sections/contacts";
@import "sections/footer";
